@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");

:root {
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  font-size: 16px;
  font-family: "Muli", sans-serif;
}
.btn {
  padding: 0.5rem 1rem !important;
  background-color: red !important;
  text-decoration: none !important;
  color: white !important;
  border-radius: 0.5rem !important;
  font-weight: bolder !important;
  border: none !important;
  cursor: pointer !important;
}
.btn-contain {
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(255, 0, 0, 0.692) !important;
}
.btn-contain:hover {
  box-shadow: 0.1rem 0.1rem 0.6rem 0.2rem rgba(255, 0, 0, 0.692) !important;
}
.btn-outline {
  background-color: white !important;
  border: 0.1rem solid red !important;
  color: red !important;
  box-sizing: content-box !important;
}
.btn-outline:hover {
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(255, 0, 0, 0.692) !important;
}
