.banner {
  display: flex;
  align-items: center;
  width: 1269px;
  margin: 0 auto;
}
.banner-subheader {
  color: red;
  font-weight: bold;
}
.banner-subheader::before {
  content: "";
  margin-right: 0.2rem;
  line-height: 1rem;
  display: inline-block;
  width: 2rem;
  border-bottom: 2px solid rgb(255, 0, 0);
}
.banner-title {
  font-size: 3rem;
  font-weight: 400;
  line-height: 3rem;
  margin: 1rem 0;
  font-family: "Lalezar", cursive;
}
.banner-decription {
  color: rgba(109, 109, 109, 0.897);
  width: 30rem;
}
.home-container {
  margin: 4rem auto 4rem auto;
  padding: 0 40px;
  overflow-x: hidden;
}
.banner-right {
  position: relative;
}
.banner-right-img {
  width: 40rem;
  z-index: 1;
  animation: carmove 2s forwards;
}
@keyframes carmove {
  from {
    opacity: 0.8;

    transform: translate(100px, -100px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.banner-left {
  animation: text-right 2s forwards;
}
@keyframes text-right {
  from {
    transform: translate(-500px, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
.banner-right::before {
  position: absolute;
  z-index: -1;
  left: 4rem;
  display: inline-block;
  content: "";
  width: 40rem;
  height: 30rem;
  border-radius: 10rem 0 0 10rem;
  background-color: rgba(255, 0, 0, 0.507);
}
.btn-group {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 18rem;
}
.car-list {
  background-color: white;
  height: max-content;
  padding: 20px;
  margin: 4rem 0;
}
.car-grid {
  height: max-content;
}
.car-paper {
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 23rem;
  box-shadow: 0 0 0.1rem 0.1rem rgba(196, 196, 196, 0.603);
}
.car-img2 {
  height: 200px;
  width: 100%;
  background-position: center;
  background-size: 100%;
  border-radius: 10px;
}
.car-name {
  margin: 1rem 0;
}
.price {
  margin: 1rem 0;
}
.car-img {
  border-radius: 0.5rem;
  box-shadow: 0 0 0.1rem 0.1rem rgba(196, 196, 196, 0.603);
  width: 100%;

  background-color: rgba(202, 202, 202, 0.692);
}
.btn-buy {
  text-align: center;
  display: inline-block;
  width: 100%;
}
/* carlist */
.car-list {
  overflow-x: hidden;
  margin: auto;
  width: 1269px;
}
.catagorise {
  width: 800px;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand-icon {
  width: 2rem;
}
.Brand-chip {
  font-weight: bolder;
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  box-shadow: 0 0.1rem 0.4rem 0.2rem rgba(189, 189, 189, 0.438);
}
.car-grid {
  justify-content: space-around;
  display: flex;
}
/* aboutus */
.img-aubotUs {
  transform: rotateY(180deg);
  width: 44rem;
}
.aboutus-wapper {
  background-color: rgb(128 128 128 / 8%);
}
.abousus-container {
  height: fit-content;
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1269px;
  margin: auto;
}
.aboutus-right {
  width: 48rem;
}
.aboutus-decription {
  font-weight: 600;
  color: #747474c4;
  margin-bottom: 1rem;
}
.divider {
  margin: 0.5rem 0;
  border: 2px solid red;
  width: 10rem;
}
/* new */
.new-item-img {
  border-radius: 1rem;
  height: fit-content;
  height: 200px;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-image: url(../Assets/img/42A36FD9E56EAA244D5434AC6162FEC7.png);
}
.new-item {
  width: 376px;
  padding: 1rem;
}
.new-list {
  width: 1269px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.new-item-time {
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: red;
  color: white;
  font-weight: 400;
  position: absolute;
}
.new-title {
  padding: 1rem 0;
  font-weight: bold;
}
.new-link {
  color: red;
  text-decoration: none;
  font-weight: bold;
}
.news-wapper {
  margin: 4rem 0;
}
/* concept */
.container-concept {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.concept {
  text-transform: capitalize;
  font-weight: 500;
}
.value {
  font-weight: 600;
}
